body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.father {
    height: 100vh;
    display: flex; /* flex-direction 기본 row */
    justify-content: space-around; /* main axis 정렬 */
    /* 무슨 일이 있어도 자식들은 한줄에 있어야함 */
    /* flex-wrap: nowrap; */
    /* wrap child의 width 크기 유지하면서 분배 */
    flex-wrap: wrap;
    /* align-content는 cross axis의 line에 대해 정렬 */
    align-content: space-around;
}
.child {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
1.5 wrap, nowrap, reverse, align-content
- father, child 모두 flex로 해주면 child에 있던 글자가 중앙에 위치하게 됨

1) flex-wrap
- flexbox는 width보다도, '같은 줄'에 있도록 하는 것을 우선시함
-> flex-wrap: wrap; (child의 사이즈를 유지하라고 하는 것)
-> nowrap; (child를 모두 같은 줄에 정렬함, 이때 width가 줄어들 수 있음)

2) reverse
- flex-direction: row-reverse; (오른쪽에서부터 1이 시작)
- column-reverse;
- flex-wrap: wrap-reverse; (한 줄이 되지 않아도 아래에서 위로 정렬되게)

* wrap으로 정렬 시 (여러 줄으로, 각 item의 width를 유지하면서)
각 줄(기본: row) 간의 간격이 생기는데, 이것을 'align-content'라는 property로 조절 가능

3) align-content (line을 변경, line은 cross-axis에 있는 상태)
- justify-content와 비슷하지만 'line'에 관한 것 (각 block이 여러 행에 걸쳐 나올 때, 행간 공백을 얼마나 둘 건지?)
- align-content: flex-start; - align-content: space-around; 

4) flex-grow, flex-shirnk : child에게 주는 속성 (반응형 디자인에 유용)
- 준 값 만큼 비율에 맞춰 nowrap일시 전체 크기가 줄어질수록 증가/감소 함

5) flex-basis (===width): child 에게
- element에게 처음 크기를 주는것(찌그러지거나 늘어나기 전)
-shrink, grow에 영향 받음
-main axix에 작용

6)flex-flow : flex-direction + flex-wrap 합체한거
*/
