/* flex는 자식들과 소통 x */
/* 자식들과 소통하고 싶으면 컨테이너(여기서는 wrapper)를 만들어야함 */

.father {
    height: 100vh;
    display: flex; /* flex-direction 기본 row */
    justify-content: space-between; /* main axis 정렬 */
    /* align-items: center; cross axis 정렬 */
    /* align items는 부모가 자식들 통제하는거 */
    /* align self는 자식이 직접 자신을 통제하는것 */
}
.child {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
}

.child:nth-child(2) {
    align-self: center;
    order: 2;
}

.child:nth-child(3) {
    align-self: flex-end;
    order: 0;
}
