.grid {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 50px repeat(2, 100px) 50px;
    gap: 10px;
    grid-template-areas:
        "header header header header"
        "content content . nav"
        "content content . nav"
        "footer footer footer footer";
}
.header {
    background-color: antiquewhite;
    grid-area: header;
}
.content {
    background-color: aqua;
    grid-area: content;
}
.nav {
    background-color: black;
    grid-area: nav;
}
.footer {
    background-color: blue;
    grid-area: footer;
}

/* 
grid 도 부모에서 일어남(flex와 규칙 비슷함)


 */

/* 
## Grid:

- [0 ] grid-template-columns
- [0 ] grid-template-rows
- [0 ] grid-column-gap>
- [0 ] grid-row-gap
- [0 ] grid-gap
- [ ] grid-template-areas
- [ ] grid-template
- [ ] justify-items
- [ ] align-items
- [ ] justify-content
- [ ] align-content
- [ ] grid-auto-columns
- [ ] grid-auto-rows
- [ ] grid-auto-flow
- [ ] grid-column-start
- [ ] grid-column-end
- [ ] grid-row-start
- [ ] grid-row-end
- [ ] grid-column
- [ ] grid-row
- [ ] justify-self
- [ ] align-self */
